<!DOCTYPE html>
<html>
    <head>
        <title>Voting App</title>
    </head>
    <body>
    <a href="/polls">Home</a>
    <a href="/mypolls">My Polls</a>
    <a href="/new">New Poll</a>
    <a href="#">Login</a>
    <a href="#">Sign Out</a>