<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voting App</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <!--<a href="/polls">Home</a>-->
    <!--<a href="/mypolls">My Polls</a>-->
    <!--<a href="/new">New Poll</a>-->
    <!--<a href="/auth/twitter">Login</a>-->
    <!--<a href="#">Sign Out</a>-->
    <!--</br>-->