<% include partials/header %>

  <form action='/polls' method='POST'>
    <div>
      <input type='text' name='title' placeholder='title'>
    </div>
    <div>
      <input type='text' name='description' placeholder='description'>
    </div>
    <div>
      <input type='text' name='options' placeholder='options'>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
    
<% include partials/footer %>